body {
  font-family: 'Open Sans', sans-serif;
}

#navbar {
  font-family: 'Exo', sans-serif;
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
}

.nav-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0;
}

li a {
  text-decoration: none;
  color: #000;
  margin-right: 3em;
  position: relative;
  transition: all ease-in-out 250ms;
}

.home-btn {
  display: flex;
  align-items: center;
}

.nav-list li:first-child {
  margin-right: auto;
  margin-left: 3em;
}

.nav-list img {
  max-width: 60px;
}

.nav-underline::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.25em;
  width: 0%;
  background: #FAC700;
  bottom: -0.5em;
  transition: all ease-in-out 250ms;
}

.nav-underline:hover::after {
  width: 90%;
}
