body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

h1 {
  font-family: 'Exo', sans-serif;
}

#navbar {
  position: fixed;
  z-index: 5;
  font-family: 'Exo', sans-serif;
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
}

.nav-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em 0;
}

.nav-list .icon {
  display: none;
}

li a {
  text-decoration: none;
  color: #000;
  margin-right: 3em;
  position: relative;
  transition: all ease-in-out 250ms;
}

.home-btn {
  display: flex;
  align-items: center;
}

.nav-list li:first-child {
  margin-right: auto;
  margin-left: 3em;
}

.nav-list img {
  max-width: 60px;
}

.nav-underline::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.25em;
  width: 0%;
  background: #FAC700;
  bottom: -0.25em;
  transition: all ease-in-out 250ms;
}

.nav-underline:hover::after {
  width: 90%;
}

.active::after {
  width: 90%;
}

.section {
  height: 100vh;
  opacity: 1;
  transition: opacity 1s;
}

.hidden {
  opacity: 0;
}

#home {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/photo-0.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 60%;
}

.home-content p {
  display: none;
}

#about {
  background: linear-gradient(to left, #FAC700 50% , #fff 50%);
  display: flex;
  align-items: center;
}

.about-img img {
  width: 45vw;
  margin: 0 2.5em;
}

.about-content {
  text-align: justify;
  margin-right: 2.5em;
}

#services {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/photo-6.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#services h1 {
  text-align: center;
  margin-bottom: 2em;
  color: #fff;
  font-size: 2.5em;
}

.card-container {
  margin: 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.card {
  padding: 2em;
  margin: 0 2em;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.8);
}

.card img {
  height: 125px;
}

.card h3 {
  font-family: 'Exo', sans-serif;
}

.card ul {
  text-align: justify;
  padding-left: 16px;
}

#references {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D6DBDE;
}

.ref-content {
  margin: 4em;
}

.ref-content h3 {
  text-align: justify;
  width: 50%;
}

.carousel-items {
  margin-top: 2em;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.carousel-item {
  padding: 2em 0;
}

#references > div > div > div > div > div > div{
  display: flex;
  justify-content: center;
}

.slick-next::before {
  content: "\276F" !important;
  font-size: 32px !important;
}

.slick-prev::before {
  content: "\276E" !important;
  font-size: 32px !important;
}

.carousel-item img{
  height: 250px;
  width: 250px;
}

#contact {
  background: #FAC700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side {
  position: relative;
    z-index: 1;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right-side {
  width: 100vw;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

#contact h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 3em;
}

#contact {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 2em;
}

.info-card {
  display: flex;
  background-color: #fff;
  padding-right: 2em;
  margin-left: 2em;
}

.avatar img {
  width: 150px;
}

.avatar {
  padding: 1em;
  border-radius: 4px;
}

.info-content {
  display: flex;
  flex-direction: column;
}

.info-content h3 {
  font-family: 'Exo', sans-serif;
}

.footer-info ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer-info li {
  padding: 0 1.5em;
}

/* RESPONSIVE STYLING */
@media only screen and (max-width: 780px) {
  .nav-list li:first-child {
    margin-left: 1.5em;
    font-size: 16px;
  }

  .nav-list img {
    max-height: 25px;
  }

  .nav-underline {
    display: none;
  }

  .nav-underline::after {
    display: none;
  }

  .nav-list a.icon {
    font-size: 1em;
    margin-right: 1.5em;
    float: right;
    display: block;
  }

  .nav-list.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 1.5em;
  }

  .nav-list.responsive li:first-child {
    display: none;
  }

  .nav-list.responsive .icon {
    position: absolute;
    font-size: 1em;
    right: 0;
    top: 20px;
  }

  .nav-underline.responsive {
    padding-right: 0;
  }

  .nav-list.responsive a {
    font-size: 0.85em;
    float: none;
    display: block;
  }

  .section {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }

  .hidden {
    opacity: 1;
  }

  #home {
    height: 100vh;
    text-align: center;
  }

  .home-content h3 {
    display: none;
  }

  .home-content p {
    display: block;
    margin: 0;
  }

  #about {
    flex-direction: column;
    background: linear-gradient(to top, #FAC700 50% , #fff 50%);
  }

  .about-img img {
    width: 70%;
    margin-top: 5em;
  }

  .about-content {
    margin: 2.5em;
  }

  #services h1 {
    margin-bottom: 0;
    font-size: 2em;
  }

  .card-container {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 70%;
    margin: 1em;
    padding: 0.5em 2em;
    font-size: 0.8em;
  }

  .card img {
    width: 90px;
  }

  .card h3 {
    margin-top: 0;
  }

  .carousel-item img {
    width: 200px;
    height: 200px;
  }

  .ref-content h3 {
    width: 100%;
    font-size: 1em;
  }

  .left-side {
    height: auto;
  }

  .left-side h3 {
    margin: 1em;
  }

  .cards {
    flex-direction: column;
    margin: 0;
  }

  .info-content {
    display: block;
  }

  .info-card {
    margin-left: 0;
    margin: 1em;
  }

  .footer-info {
    text-align: center;
  }

  .footer-info ul {
    flex-direction: column;
  }
}
