body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

h1 {
  font-family: 'Exo', sans-serif;
}

#navbar {
  position: fixed;
  z-index: 5;
  font-family: 'Exo', sans-serif;
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
}

.nav-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em 0;
}

li a {
  text-decoration: none;
  color: #000;
  margin-right: 3em;
  position: relative;
  transition: all ease-in-out 250ms;
}

.home-btn {
  display: flex;
  align-items: center;
}

.nav-list li:first-child {
  margin-right: auto;
  margin-left: 3em;
}

.nav-list img {
  max-width: 60px;
}

.nav-underline::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.25em;
  width: 0%;
  background: #FAC700;
  bottom: -0.25em;
  transition: all ease-in-out 250ms;
}

.nav-underline:hover::after {
  width: 90%;
}

.section {
  height: 100vh;
}

#home {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/photo-0.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 60%;
}

#about {
  background: linear-gradient(to left, #FAC700 50% , #fff 50%);
  display: flex;
  align-items: center;
}

.about-img img {
  width: 45vw;
  margin: 0 2.5em;
}

.about-content {
  text-align: justify;
  margin-right: 2.5em;
}

#services {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/photo-6.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#services h1 {
  text-align: center;
  margin-bottom: 2em;
  color: #fff;
  font-size: 2.5em;
}

.card-container {
  margin: 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.card {
  padding: 2em;
  margin: 0 2em;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.8);
  border-radius: 4px;
}

.card img {
  height: 125px;
}

.card h3 {
  font-family: 'Exo', sans-serif;
}

.card ul {
  text-align: justify;
  padding-left: 16px;
}

#references {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D6DBDE;
}

.ref-content {
  margin: 4em;
}

.ref-content h3 {
  text-align: justify;
  width: 50%;
}

.carousel-items {
  padding: 2em 0;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.carousel-item {
  height: 250px;
  width: 250px;
  padding: 0 1em;
  display: none;
  overflow: hidden;
}

.visible {
  display: inline-block;
}

.carousel-items button {
  background: transparent;
  border: none;
  font-size: 3em;
  cursor: pointer;
}

.carousel-items button:focus {
    outline: none;
}

#contact {
  background: #D6DBDE;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 3em;
}

#contact h3 {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 2em;
}

.info-card {
  display: flex;
  background-color: #fff;
  padding-right: 2em;
  border-radius: 4px;
}

.avatar img {
  width: 150px;
}

.avatar {
  padding: 1em;
  background: linear-gradient(to left, #fff 50% , #000 50%);
  border-radius: 4px;
}

.info-content {
  display: flex;
  flex-direction: column;
}

.info-content h3 {
  font-family: 'Exo', sans-serif;
}

.footer-info {
  background-color: #FAC700;
}

.footer-info ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
